/* 滑動感 */
html {
scroll-behavior: smooth;
}

/* h */
h1,h2,h3,h4,h5,h6 {
margin: 0;
padding: 0;
letter-spacing: 1px;
text-align: center;
}

/* p */
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family: 'Muli', sans-serif;
text-align: center;
}


/* 地區內中文 */
h3.title {
    font-size: 38px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: capitalize;
}

/* 地區內英文 */
h6.top-title {
    font-size: 3.5em;
    color: #ffffff;;
    font-weight: bold;
    text-transform: uppercase;
}

/* 左邊臺灣景點字體 */
.logo h1 a {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 1px;
    color: #fff;
    padding:15px 20px;
	display:block;
}


/* 左半部 */
.banner-left-side {
    background-image: url(../images2/taiwan.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:1000px;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}


/* 主畫面文字距離 */
.banner-right-side {
    margin-left: 400px;
    height: 1500px;
    padding: 18em 0px;
    
}


/* 主畫面文字色 */
.banner-right-txt h4 {
    color: #bc2d93;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* 右側背景色 */
.about,.map-address,.blog {
    background: #d7c1c67f;
}


/* 主畫面選單 */
.view-buttn a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    font-weight: 400;
    border-radius: 0px;
    background-color:transparent;
    padding: 8px 15px;
    border:1px solid #000;
}


/* 右半部 */
.banner-right-txt {
    background-size: cover;
    background-position: center center;
    height: 680px;
  }


/* 地區大小 */
.connn{
    width: 1000px;
    height: 1000px;
    display: block;
}

/* 地區背景色 */
.dododo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #720c0c;
}

/* 區域按鈕 */
.view-buttn {
    text-align: center;
}

